@import url("https://fonts.googleapis.com/css?family=Lato");
:root {
  --main-color: #2a363b;
  --secondary-color: #e84a5f;
  --ternary-color: #ff847c;
  --four-color: #fecea8;
}

.App {
  height: 100vh;
  font-family: ;
  /*flex-flow: row nowrap;*/
}

.App-header {
  overflow: hidden;
  display: flex;
  background-color: var(--main-color);
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--four-color);
  text-align: center;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0;
  top: 0;
  z-index: 99999;
}

#map {
  height: 100vh;
  width: 100%;
}

.iconHeader{
  padding: 0.4em;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.mapContainer {
  background: blue none repeat scroll 0 0;
  height: 97%;
  width: 100%;
  position: fixed;
  right: 0;
  width: 75%;
  z-index: 1;
}

/**********************SideBar ************************/
.SideBar {
  height: calc(100vh-40px);
  width: 319px;
  position: fixed;
  max-width: calc(100%);
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  color: #355c7d;
  font-weight: 500;
  overflow-x: hidden;
}

#inputSearch {
  width: 100%;
  border: 0;
  max-width: 350px;
  padding: 12px;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.inputAndSearchIcon{
  display:flex;
  flex-direction: row;
}
.iconSearch{
  padding: 0.9em 0.9em 0.9em 0.5em;
  color:var(--four-color);
  /*z-index: -9999;*/
}
.bbqPlacesList {
  width: 100%;
}
.bbqPlacesListItem {
  list-style: none;
  cursor: pointer;
  line-height: 1.5rem;
  display: block;
}

.bbqPlacesListItem:hover {
  color: #414141;
}

.fourSquareBrand {
  font-size:1em;
  font-weight: 700;
  text-align: center;
  padding: 10em 2.5em 2.5em 2.5em;
  position: relative;


}

/*Makers and InfoWindow Styling*/
.restaurantNameInfoWindow{
  font-weight: 700;
  text-align: center;
  color:var(--four-color);
  background-color: var(--main-color);
  padding: 0.5rem;

}
.markersInfowindow {
  font-size: 0.9em;
  font-weight: 400;
  color:var(--main-color);
}


/* @media screen and (max-width: 768px) {

     .mapContainer {
         height: 100px;
         position: relative;
         top: 400px;
         width: 100%;
     }
   }*/