@import url("https://fonts.googleapis.com/css?family=Lato");
:root {
  --main-color: #2a363b;
  --secondary-color: #e84a5f;
  --ternary-color: #ff847c;
  --four-color: #fecea8;
}

.App {
  height: 100vh;
  font-family: "Lato", sans-serif, "Lucida Grande", Tahoma, Sans-Serif;
}

/*******************App Title**************************/
.App-header {
  overflow: hidden;
  display: flex;
  background-color: var(--main-color);
  height: 10vh;
  align-items: center;
  justify-content: center;

  color: var(--four-color);
  text-align: center;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

h1,
.iconHeader {
  font-size: calc(10px + 2vmin);
}

.iconHeader {
  padding: 0.4em;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

/************************Map****************************/
.mapContainer {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}

/**********************SideBar ************************/

#inputSearch {
  margin-top: 50px;
  margin-left: 9px;
  width: 92%;
  border: 0;
  max-width: 350px;
  padding: 10px;
  border: 0.5px solid var(--four-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input:hover {
  background-color: var(--main-color);
  color: var(--four-color);
  transition: 0.3s;
}
input:hover::placeholder {
  color: var(--four-color);
  font-weight: 700;
  transition-timing-function: ease;
}
input::placeholder {
  font-weight: 600;
}

#inputSearch:active,
#inputSearch:focus {
  border: 2px solid #f38181;
  box-shadow: 0 4px 8px 0 #f38181;
  outline: none;
}

.inputAndSearchIcon {
  display: flex;
  flex-direction: row;
}

.bbqPlacesList {
  width: 100%;
  padding: 0;
}

/*Style BBQ list*/
ol {
  padding: 0;
  margin-left: 8px;
}
.bbqPlacesListItem {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  border-radius: 4px;
  width: 85%;
  list-style: none;
  cursor: pointer;
  line-height: 1rem;
  display: block;
  padding: 0.1px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 9px;
  background-color: var(--main-color);
}

.bbqPlacesListItem:hover {
  color: white;
  box-shadow: 0 2px 8px 0 var(--four-color);
}

.bbqPlacesListItem:active,
.bbqPlacesListItem:focus {
  border: 3px solid #f38181;
  transition: 0.3s;
  outline: none;
}

.BBQPlacesListTitle {
  color: var(--main-color);
  font-weight: 900;
  text-align: center;
}

.fourSquareBrand {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 0.7em 2.5em 2.5em 2.5em;
  position: relative;
  color: var(--main-color);
}

.fourSquare {
  font-weight: 900;
}

/*************Makers and InfoWindow Styling**********************/
.restaurantNameInfoWindow {
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--four-color);
  background-color: var(--main-color);
  padding: 0.5rem;
}
.markersInfowindow {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--main-color);
}

.infoWindowImage {
  max-width: 100%;
  width: 150px;
  height: auto;
  border-radius: 50%;
}

/*******************Hamburguer Menu Style*********************/

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
/* General sidebar styles */
.bm-menu {
  background-color: var(--four-color);
  opacity: 0.9;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* Change color on hover */
.bm-item:hover {
  color: var(--four-color);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--four-color);
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Wrapper for item list */
.bm-item-list {
  color: var(--four-color);
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*Error Handling Map and FourSquare Api*/

/*FourSquare Error Fetching Data*/
.errorLoadingFourSquareData {
  color: var(--main-color);
  font-weight: 800;
  background: var(--ternary-color);
  padding: 2rem;
  text-align: center;
  line-height: 2rem;
}

/*Center the Error Message on the map*/
.showErrorMessageOnMap {
  opacity: 0.9;
  text-align: center;
  width: 200px;
  position: absolute;
  padding: 0.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--four-color);
  background-color: var(--main-color);
  z-index: 2;
  line-height: 2rem;
}
.sadFaceFailMsg{
  font-weight: 900;
  font-size: 3em;
  color:#dd0a35;
}
/*Center the Message*/
.mapFailLoadingMessage {
  opacity: 0.9;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--four-color);
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.oopsMessage {
  font-weight: 800;
  font-size: 2rem;
  color: #dd0a35;
}

.iconFailMessage {
  background-color: #dd0a35;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 1.5em;
  padding: 1rem;
  margin-bottom: 5px;
  margin-left: 78px;
  font-weight: 900;
}

.howToSolveMsg {
  /*font-style: italic;*/
  font-weight: 700;
  color: #dd0a35;
}

/********Mobile Layout*/

/*Ipad Mini*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .bm-burger-button {
    top: 30px;
  }
}
